<h1>Editing Device</h1>

<%= form_with(model: @device, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :device_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @device %> |
<%= link_to 'Back', devices_path %>
