<p id="notice"><%= notice %></p>

<h1>Devices</h1>
<%= link_to 'Add Device', new_device_path %>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">MAC</th>
      <th scope="col">Messages</th>
      <th scope="col">Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, device %></td>
        <td><%= device.mac %></td>
        <td><%= device.messages.count %></td>
        <% if device.messages.count == 0%>
        <td>Inactive</td>
        <% else %>
        <td><%= time_ago_in_words(device.messages.last.updated_at)  %></td>
        <% end %>
        <td><%= link_to 'Update Data', update_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
