<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @device.mac %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
<%= line_chart Message.by_month, class: 'card-text' %>
<%= line_chart @messages.group_by_minute(:created_at).average(:ave), class: 'card-text' %>
